<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <meta charset="utf-8" />

    <!-- for another css files -->
    {% block addlinks %}{% endblock %}
</head>
<body>
    <!-- navigation part -->
    <header class="header">
        {% include './nav.html' %}
    </header>
    <!-- main part -->
    <main class="main">
        {% block content %} {% endblock %}  
    </main>
    <!-- footer part -->
    <footer class="footer">
        {% include './footer.html' %}
    </footer>
</body>