<div class="footer-inner">

    <div class="footer-text-block">
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
    </div>

    <div class="footer-text-block">
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
    </div>

    <div class="footer-text-block">
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
    </div>

    <div class="footer-text-block">
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
        <a href="#" class="footer-text">Заглушка для Footer</a>
    </div>

</div>