<div class="card">
    <!-- Внутренности -->
    <div class="card-inner">
        <div class="image-section">
            <img 
                src={{ url_for('static', filename='images/pila.png') }} 
                alt="Товар"
                class="image"
            >  
        </div>

        <div class="title-section">
            <a class="title-text">Пила циркулярная сетевая Stavr ПДЭ-235/2100, 2100 Вт, 235 мм</a>
        </div>

        <div class="price-section">
            <a class="price-text">6199 ₽/шт.</a>
        </div>

        <div class="cart-section">
            
        </div>
    </div>
</div>