{% extends './base.html' %}

<!-- в App.py будет определен титле_текст -->
{% block title %}Материал Экспресс - {{ title_text }}{% endblock %}

{% block addlinks %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/titlePage.css') }}">
{% endblock %}

{% block content %} 
    {% with title_text = title_text %}
        <!-- Учитывается от родительской папки... -->
        {% include './shop/titlePage.html' %}
    {% endwith %}
    <div class="main-content">
        <!--for filter-->
        <div class="card-content">
            {% for i in range(8) %}
                {% include './shop/card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}